.card {
  cursor: pointer;
  display: flex;
  margin-top: 48px;
  width: 320px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(37, 37, 37);
  border-radius: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.genre {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
}

.detailes {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
}
