.card {
  text-decoration: none;
  color: #fff;
  width: 320px;
  height: 320px;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  background-color: rgb(37, 37, 37);
}

.card:not(:last-child) {
  margin-bottom: 30px;
  margin-right: 50px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.genre {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.detailes {
  padding: 10px 20px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
}

.buy {
  position: relative;
  right: 0;
  bottom: -12px;
}
